@import "tailwindcss";
@import "./styles/typography.css";
@import "./styles/terminal.css";

:root {
  --background: #0c061e;
  --foreground: #ededed;
  --primary-color: purple;
  --secondary-color: yellow;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Fira Code";
  font-size: "12px";
}
s